#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: -100px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  ul{
    margin-bottom: 70px;
  }

  button{
color:black
  }

  .search{

    margin-left: 1170px;
    margin-top:35px;
    
  }

  .field{
    margin-left: 1000px;
    margin-bottom: 10px;
    position: relative; 
    top: -35px;
    left: -25px;
  }


  #cars{
    position: relative;
    left: 700px;
    top:90px;
    width: 100px;
    height: 30px;
  }


#edite{
 
  position: relative;
  left: 1215px;
  bottom: 30px;
}




.my-toast {
  left: 50%;
  transform: translateX(-50%);
}

.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation-name: slideIn;
  animation-duration: 0.3s;
}

.confirmation-dialog button {
  margin-right: 10px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.confirmation-dialog.ng-leave {
  animation-name: slideOut;
  animation-duration: 0.3s;
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}
