
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<ul>
  <li><a class="active" [routerLink]="['/ajout']">Creer Demmande</a></li>
  <li class="search"> <button type="button" class="btn btn-primary" (click)="SearchDemmande()">Search</button> </li>
  <form action="" [formGroup]="signinForm" >

  
  <li class="field">  <input type="text"  id="Password1" placeholder="search*" [formControl]="nom">   </li> 
   
  <select name="search" id="cars" [formControl]="search">
   <option value="0">Selectionner :</option>
   <option value="Id">By Id</option>
   <option value="Nom">By Nom</option>
  
 </select>
 </form>
 
 
</ul>

<button id="edite" class="btn btn-success" (click)="exportToExcel()">Export to Excel</button>
    
<div class="container" *ngIf="Demmandes"> 
    
    <table class="table" id="customers"> 

 <tr>
  <th>ID</th> <th>NOM</th> <th>EMAIL</th> <th>SUPERFICIE</th> <th>ICE</th> <th>OBJECTIF</th> <th>TYPEDEMANDEUR</th> <th>DATESOUHAITE</th>
   <th>TELEPHONE</th> <th>DATEDEMANDE</th>   <th>SUPPRIMER</th> <th>MODIFIER</th> <th>OUVRIR</th>

 </tr>

 <tr *ngFor="let D of Demmandes" >
    <td>{{D.id}}</td>
    <td>{{D.nom}}</td>
    <td>{{D.email}}</td>
    <td>{{D.superficie}}</td>
    <td>{{D.ice}}</td>
    <td>{{D.objectif}}</td>
    <td>{{D.typeDemmandeur}}</td>
    <td>{{D.datesouhaite}}</td>
    <td>{{D.tel}}</td>
    <td>{{D.datemmande}}</td>
    <td> <button class="btn btn-danger" (click)="deleteItem(D.id)"> Supprimer</button> </td>
    <td> <button class="btn btn-primary" (click)="onEdit(D.id)"> Modifier</button> </td>
    <td> <button class="btn btn-success" (click)="onDisplay(D.id)"> Ouvrir</button> </td>
    <td>  <button class="edite" class="btn btn-success" (click)="generatePdf(D.id) "> Editer</button></td>
 </tr>
    </table>
    
    <div class="confirmation-dialog" *ngIf="confirmDelete">
      <p>Êtes-vous sûr de vouloir supprimer cet élément ?</p>
      <button (click)="onDelete(D.id)">Supprimer</button>
      <button (click)="confirmDelete = false">Annuler</button>
    </div>
    <div>